<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>WorkSyncPro</title>
    <link rel="stylesheet" href="home.css">
    

</head>
<body>


    <section id="header">
        <h4>WorkSyncPro </h4>
        
        <div>
            <ul id="navbar">
                
                
                <li><a href="#">ABOUT US</a></li>
                <li><a href="h">PORTFOLIO</a></li>
                <li><a href="gl">OUR CLIENTS</a></li>
                <li><a href="#">CONTACT</a></li>
                <li><a href="#modal" id="aboutLink">OUR MISSION</a></li>
                <div id="myModal" class="modal">
                    
                    <div class="modal-content">
                      <span class="close">&times;</span>
                      <h3>OUR MISSION</h3>
                      <br><br>
                      <p>Our Mission
                        At WorkSyncPro, our mission is to empower startups on their journey to greatness. We believe in simplifying complex processes, enhancing productivity, and fostering an environment where companies can thrive.
                      </p>
                    </div>
                  </div>
                  
                  <script src="modal.js"></script>
            
                
            </ul>
        </div>
    </section>
    <section id="hero">
    
    <h2>WELCOME TO </h2>
    <h1>WorkSync Pro</h1>
    <img src="/public/pic2.jpeg" alt="">
    <h1 id="scnd">Revolutionize Your Startup's Growth Journey And Take Your Business to next level with us.</h1>
    <br>
    <br>
    <p>

        Unlock unparalleled growth with our dedicated suite of services tailored for startups. Our Authentic Efficiency Tracking Systems empower you to monitor and enhance workforce productivity, ensuring every resource is optimized for success. Say goodbye to manual payroll hassles with our Automated Salary Calculator, simplifying financial processes and freeing up time for strategic endeavors. Explore a range of services meticulously designed to catalyze your company's productivity, from streamlined onboarding experiences to innovative employee efficiency management. Let us be your partner in achieving peak performance and sustained growth. Embrace the future of efficient operations with our comprehensive solutions, propelling your startup towards unprecedented success.</p>
    
    
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    <h1 id="SCND2">ABOUT US</h1>
    <br>
    <br>
    <p>

        Welcome to WorkSyncPro, your trusted partner in startup growth. At WorkSyncPro, we specialize in propelling startups to new heights by offering a suite of innovative services. From our Authentic Efficiency Tracking Systems to the streamlined Automated Salary Calculator, we empower companies to be more productive and reach their peak performance. Our mission is to simplify complexities, drive efficiency, and foster an environment where startups can thrive. With a startup-focused approach, cutting-edge solutions, and a dedication to your success, WorkSyncPro here to be your catalyst for growth. Let's embark on a journey of success together contact us and let's build something extraordinary.</p>
    
    </section>
    <br>
    <br>
    <br>
    <br> <br>
    <br>
    <br>
    <br>
<section id="sec2">
    <img src="assets/game.avif" id="img2" alt="">
    
</section>
    
    
    
    <section id="cpic"></section>




    <script src="modal.js"></script>

    <footer>
        <div class="+"></div>
        <div class="footer-content">
          <div class="footer-section">
            <h3>About Us</h3>
            <p>Providing Services to Startups to grow they're Business</p>
          </div>
          <div class="footer-section">
            <h3>Quick Links</h3>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Portfolio</a></li>
            </ul>
          </div>
          <div class="footer-section">
            <h3>Contact Us</h3>
            <p>Email: WorkSyncPro@work.in</p>
            <p>Phone: +91 8431496502</p>
          </div>
          <div class="footer-section">
            <h3>Follow Us</h3>
            <div class="social-icons">
              <a href="" target="_blank">Website</a>
              <a href="" target="_blank">Instagram</a>
              <a href="" target="_blank">Linkdin</a>
            </div>
          </div>
        </div>
      </footer>
      
    
</body>
</html>